.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bg-dark {
background-color: black !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerColor {
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background: hsla(0, 0%, 98%, 0.6);
  width: 100%;
}

.header_Text, .header_Text_Selected{
  font-family: Armin Grotesk Black;
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
}

@media only screen and (min-width: 45em){
.header_Text_Selected {
  color: #232323;
  cursor: pointer;
}
}

@media only screen and (min-width: 45em){
.header_Text, .header_Text_Selected {
    font-family: Armin Grotesk Black;
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
}}

@media only screen and (max-width: 420px) {
  .content_Text_Title{
    font-size: 35px!important;
    line-height: 35px!important;
    text-align: start!important;
  }
  .content_Text_Subtitle{
    font-size: 20px!important;
    line-height: 20px!important;
    margin-bottom: 10px!important;
  }
}

.header_Text {
  color: #b5b5b5;
}
.header_Text_Selected {
  color: #232323;
}

.footerColor {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background: linear-gradient(90deg,rgba(65,192,240,.9) -45.79%,rgba(47,82,160,.9) 153.58%);
}

.header_Text, .header_Text_Selected {
  cursor: pointer;
  font-family: Armin Grotesk Black;
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
}
.footer_Text_Hermes, .text_Body {
  font-family: Armin Grotesk Ultralight;
}

.text_Big {
  font-family: Armin Grotesk Black;
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
}



.color_Text_Base_Backgorund {
  color: #fafafa;
}

.footer_Text_Hermes {
  font-size: 19px;
  line-height: 27px;
  text-transform: uppercase;
}

.footer_Text_Address {
  font-family: Armin Grotesk Ultralight;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
}

/* COLORS */
.color_text_Content {
  color: #232323;
}

.content_Text_Title {
  margin: 0;
  font-family: Armin Grotesk Black;
  font-size: 99px;
  line-height: 103px;
  text-transform: uppercase;
  text-align: start;
}

.content_Text_Subtitle {
  margin: 0;
  font-family: Armin Grotesk Black;
  font-size: 34.3321px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: start;
}



/* 1260px */
@media only screen and (min-width: 78.75em) {
  .container {
    width: 100%;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: 96%;
  }
  /* TITLES */

  .content_Text_Title {
    margin: 0;
    font-family: Armin Grotesk Black;
    font-size: 99px;
    line-height: 103px;
    text-transform: uppercase;
    text-align: start;
  }

  .content_Text_Subtitle {
    margin: 0;
    font-family: Armin Grotesk Black;
    font-size: 34.3321px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: start;
  }

}

@font-face {
  font-family: Armin Grotesk Black;
  src: url(./Fonts/Armin\ Grotesk\ Black.otf);
}

@font-face {
  font-family: Armin Grotesk Ultralight;
  src: url(./Fonts/Armin\ Grotesk\ Ultra\ Light.otf);
}

@font-face {
  font-family: Armin Grotesk Ultrabold;
  src: url(./Fonts/Armin\ Grotesk\ Ultra\ Bold.otf);
}

.circle {
  float: left;
  width: 1800px;
  height: 1800px;
  margin: 20px;
  shape-outside: circle();
  clip-path: circle();
  background: white;
  border-radius: 50%;
  border: solid 3px #4893ff !important;
  overflow:visible;
  position: relative;
  left: -400px;
  top: -600px; /* Evitar que el contenido se visualice fuera del borde*/

}

.badge {
  height: 2100px;
  width: 2100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: white;
  border: solid 3px #4893ff;
  position: sticky;
  left: -80px;
  top: -100px;
}
